* {
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}

.banner {
  width: 240px;
  height: calc(240px * 9 / 16);
}
.banner img {
  width: 240px;
  height: calc(240px * 9 / 16);
}

.swimLaneContainer {
  width: 240px;
  height: calc(320px - (240px * 9 / 16));
  text-align: left;
}
.swimLaneContainer h6 {
  margin: 5px;
}

.swimLane {
  width: 240px;
  height: 90px;
  overflow: auto;
  white-space: nowrap;
}

.showCard {
  width: 120px;
  height: calc(120px * 9 / 16);
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  background-size: cover;
}

.showCard:focus,
.focused {
  border: 2px solid #007cfa;
  box-sizing: border-box;
}

.videoContainer{
  width: 320px;
  height: 240px;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -40px;
  margin-top: 40px;
}
